  .main-page {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-swiper {
  	width: 100%;
  	height: 300px;
  	background-color: #666666;
  }
 
  .navigation-tab {
  	height: 80px;
  	width: 750px;
  	flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    flex-wrap: nowrap;
    background-color: #ffffff;
    border-bottom-width: 1px;
    border-bottom-color: #cccccc;
  } 
  .navigation-item {
  	width: 100%;
  	height: 100%;
  	text-align: center;
  	color: #666666;
  	font-size: 28px;
  }
  .navigation-item-selected {
    width: 100%;
    height: 100%;
    text-align: center;
    color: #666666;
    font-size: 28px;
    animation-name: enlarge;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
  }
  @keyframes enlarge {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  .page-list {
  	height: 500px;
  	flex: 1;
    width: 750px;
    background-color: #888888;
  }